:root {display: border-box;
}

#start{
    height: 40px;
    width: 33.33px;
    position: absolute;
    background-color: blue;
    
}

#mainContent{
    display: flex;
    flex-grow: 2;
}

body{
    display:flex;
    align-items: center;
    flex-direction: column;
    
}

#board{
    display:flex;
    height: 600px;
    width: 700px;
    flex-direction: column;
    

}



.wall{
    
    background-color: dimgray;
    flex-grow: 1;
    display: flex;
}

.path{
    background-color:red;
    flex-grow:1;
    display: flex;


}

.row{
   
    background-color: deepskyblue;
    display: flex;
    flex-grow: 1;
    
}


#end{
    flex-grow:1;
    display:flex;
    background-color:blue;
}

#winner{

    height:200px;
    width:200px;
    font-size: large;
    font-weight: 700;
}


